
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}
#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8C8C8C;
  margin: 0;
}
#container a {
  text-decoration: none;
}
.card {
  margin-top: 20px;
  width: 100%;
  height: 120px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #FFFF;
  #left{
  ion-icon{
      margin-top: 10px;
      height: 30px;
      width: 50px;
  }
}
  p{
      margin-left: 5px;
  }
  ion-col{
    color: black;
    text-align: center;
  }
//   ion-fab{
//   }
  ion-button{
    margin-left: auto;
    margin-right: auto;;
  }
}
ion-content ion-toolbar {
  --background: translucent;
}