<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu/apply"></ion-back-button>
  </ion-buttons>
    <ion-title>Buy Plan</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<h3>Standard Plan</h3>

     <p>The plan provides the following:
<br>
      * Up to R75 000 cover for you and your spouse
<br>
      
      * Up to R50 000 cover for up to four parents and eight children
<br>
      
     * Up to R30 000 cover for up to eight extended family members
<br>
      
    * The education benefit can be taken out with the Standard Funeral plan.
<br>
      
      What is it?
<br>
      
     * The education benefit is designed to assist with the cost of education for the policy holder's children in the event of the policy holder's death. It helps them leave a meaningful legacy.
<br>
      
      How does it work?
<br>
      
      * Payout on the death of main life.
<br>
      
      * Payout is paid directly to the education institution that the child/ children attend.
<br>
      
     * You can choose any month once a year to skip a payment, without losing your cover.
<br>
      
     * You can choose any month once a year to skip a payment, without losing your cover.
<br>
      
     * We'll pay you back 5 months' worth of premiums every 5 years .
<br>
      
     * Survival benefit of 10% of premiums when child turns 18 years and principal life insured is still alive.
<br>
      
    *  On death,an Additional Expense benefit of 10% of Education benefit, for the particular year,
       will be paid annually to assist with items such as school uniforms, 
      stationery and text books.</p>
  <ion-button  expand="block"  (click)="buyPlan('Standard Plan')">Apply</ion-button>
</ion-content>
