<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons style="color:white" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>members</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 style="margin: 0.5em;padding: 0;transform: translateX(10px);">Members</h3>
  <h5 style="margin: 0.5em;padding: 0;transform: translateY(10px);transform: translateX(20px);"> {{policyMembers}}</h5>
  <h5 style="margin: 0.5em;padding: 0;transform: translateY(10px);transform: translateX(20px);"> {{memberName}}</h5>


</ion-content>
