<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu/apply"></ion-back-button>
  </ion-buttons>
    <ion-title>Buy Plan</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<h3>Premium Plan</h3>
<p>
  <!-- Premium waiver -->

  * If the main member dies, cover will remain in place for other members on the policy for an additional 24 months.
  <br>
   * No further premiums will have to be paid during this time.
  
   Continuation option
   <br>
  * In the event of the death of the principal member,
  <br>
  *  the first spouse of the principal member is entitled to exercise a continuation option whereby the policy continues
    to provide cover for the additional members.
  
  Funeral cover waiting periods
  
  * You are covered immediately for accidental death.
  <br>
 * For natural death, the waiting period is 6 months.
  <br>

  
  
  
    </p>
  <ion-button  expand="block"  (click)="buyPlan('  Plan')">Apply</ion-button>
</ion-content>
